<div class="container-fluid">

    <app-page-title subTitle="Datatables" title="Select"/>

    <div class="row justify-content-center">
        <div class="col-xxl-10">
            <app-ui-card title="Single Item Select">
                <a helper-text href="https://datatables.net/reference/option/select" target="_blank"
                   class="icon-link icon-link-hover link-primary fw-semibold">View Docs
                    <ng-icon name="tablerArrowRight"
                             class="bi fs-lg"/>
                </a>
                <div card-body>
                    <table datatable [dtOptions]="dtOptions" id="multi-select"
                           class="table dt-responsive align-middle mb-0">
                        <thead class="thead-sm text-uppercase fs-xxs">
                        <tr>
                            <th>Company</th>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                            <th>Market Cap</th>
                            <th>Rating</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of basicData.slice(0, 16); track $index) {
                                <tr>
                                    <td>{{ item.company }}</td>
                                    <td>{{ item.symbol }}</td>
                                    <td>{{ currency }}{{ item.price }}</td>
                                    <td>{{ item.change }}%</td>
                                    <td>{{ item.volume }}</td>
                                    <td>{{ currency }}{{ item.marketCap }}</td>
                                    <td>{{ item.rating }} ★</td>
                                    <td><span
                                        class="badge badge-label  {{item.status==='Bullish' ? 'badge-soft-success' : 'badge-soft-danger'}} ">{{ item.status }}</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </app-ui-card>
            <app-ui-card title="Multi Item Select">
                <a helper-text href="https://datatables.net/reference/option/select" target="_blank"
                   class="icon-link icon-link-hover link-primary fw-semibold">View Docs
                    <ng-icon name="tablerArrowRight"
                             class="bi fs-lg"/>
                </a>
                <div card-body>
                    <table datatable [dtOptions]="multiDtOptions" class="table dt-responsive align-middle mb-0">
                        <thead class="thead-sm text-uppercase fs-xxs">
                        <tr>
                            <th>Company</th>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                            <th>Market Cap</th>
                            <th>Rating</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of basicData.slice(0, 16); track $index) {
                                <tr>
                                    <td>{{ item.company }}</td>
                                    <td>{{ item.symbol }}</td>
                                    <td>{{ currency }}{{ item.price }}</td>
                                    <td>{{ item.change }}%</td>
                                    <td>{{ item.volume }}</td>
                                    <td>{{ currency }}{{ item.marketCap }}</td>
                                    <td>{{ item.rating }} ★</td>
                                    <td><span
                                        class="badge badge-label  {{item.status==='Bullish' ? 'badge-soft-success' : 'badge-soft-danger'}} ">{{ item.status }}</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </app-ui-card>
            <app-ui-card title="Cell Selection">
                <a helper-text href="https://datatables.net/reference/option/select" target="_blank"
                   class="icon-link icon-link-hover link-primary fw-semibold">View Docs
                    <ng-icon name="tablerArrowRight"
                             class="bi fs-lg"/>
                </a>
                <div card-body>
                    <table datatable [dtOptions]="cellDtOptions" class="table dt-responsive align-middle mb-0">
                        <thead class="thead-sm text-uppercase fs-xxs">
                        <tr>
                            <th>Company</th>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Change</th>
                            <th>Volume</th>
                            <th>Market Cap</th>
                            <th>Rating</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (item of basicData.slice(0, 16); track $index) {
                                <tr>
                                    <td>{{ item.company }}</td>
                                    <td>{{ item.symbol }}</td>
                                    <td>{{ currency }}{{ item.price }}</td>
                                    <td>{{ item.change }}%</td>
                                    <td>{{ item.volume }}</td>
                                    <td>{{ currency }}{{ item.marketCap }}</td>
                                    <td>{{ item.rating }} ★</td>
                                    <td><span
                                        class="badge badge-label  {{item.status==='Bullish' ? 'badge-soft-success' : 'badge-soft-danger'}} ">{{ item.status }}</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </app-ui-card>
        </div>
    </div>
</div>
