app-patient-header-panel {
  border: 1px solid red;
  display: block;
  // min-height: 100px;
}


// .patient-header-panel.sticky {
//   position: sticky;
//   top: 0;
//   z-index: 1030;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.1);
//   // width: 100%;
//   // position: fixed;
  
// }


//add by waleed
.patient-header-panel.sticky {
  position: fixed;
  top: 50px; 
  left: 250px; 
  right: 0;
  z-index: 1030;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}




// .scroll-wrapper {
//   height: calc(100vh - 60px); 
//   overflow-y: auto;
//   margin-top: 60px; 
//   padding: 1rem;
// }

//add by waleed
// .scroll-wrapper {
//   margin-top: 160px; // height of fixed topbar + patient panel
//   padding: 1rem;
//   overflow-y: auto;
// }

//add by waleed
.scroll-wrapper.with-pinned {
  margin-top: 160px; // Adjust this value based on your patient-header-panel height
}
// .patient-header-panel {
//   height: 100px; // or whatever is appropriate
// }
